attempts/
venv/
sam_env/
bert_slotfilling_model_attempt/
venv310/
*.pyc
__pycache__/
*.joblib
*.pkl
*.pickle
*.wav
*.mp3
*.log
*.csv
*.jsonl
data/
models/
TTS/

# Environment variables
.env
.env.local
.env.*.local.DS_Store
